/* ============================= */
/* Global Variables */
/* ============================= */

:root {
    --cursorSize: 6vw;
    --textColor: black;
    --bgColor: white;
}

/* ============================= */
/* Base Styles */
/* ============================= */

body {
    font-family: "DINTBold", sans-serif;
    color: var(--textColor);
    background: var(--bgColor);
    margin: 0;
    overflow: hidden;
    transition: background 0.3s ease, color 0.3s ease;
}

/* ============================= */
/* Header */
/* ============================= */

header {
    position: relative;
    z-index: 101;
    margin: 10vw;
    font-size: 10vw;
    user-select: none;
}

header span {
    display: inline-block;
    padding: 1vw;
    cursor: pointer;
}

/* Mask Text */

#logoMask {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--bgColor);
    pointer-events: none;
    transition: clip-path 0.15s ease-out;
}

/* ============================= */
/* Custom Cursor */
/* ============================= */

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--cursorSize);
    height: var(--cursorSize);
    border-radius: 50%;
    background: var(--textColor);
    pointer-events: none;
    z-index: 100;

    transform: translate(-50%, -50%);
    transition: 
        width 0.2s ease,
        height 0.2s ease,
        background 0.3s ease;
}